
/RPGPractice/.vs
/RPGPractice/.vs/RPGPractice/v17/.suo
/RPGPractice/RPGPractice/obj/Debug/net8.0-windows/RPGPractice.AssemblyInfoInputs.cache
/RPGPractice/.vs
/RPGPractice/.vs/ProjectEvaluation
RPGPractice/.vs/ProjectEvaluation/rpgpractice.metadata.v7.bin
RPGPractice/.vs/ProjectEvaluation/rpgpractice.projects.v7.bin
RPGPractice/.vs/RPGPractice/DesignTimeBuild/.dtbcache.v2
RPGPractice/.vs/RPGPractice/v17/.futdcache.v2
RPGPractice/.vs/RPGPractice/v17/.futdcache.v2
RPGPractice/.vs/RPGPractice/DesignTimeBuild/.dtbcache.v2
/RPGPractice/.vs
/RPGPractice/.vs
